<div>
  <%= semantic_form_for :settings, :method => :post, url: {action: :update} do |f| %>
    <table id="settings" class="index_table index">
      <thead>
        <tr>
          <th style="width: 30%"><%= t('settings.index.name')%></th>
          <th><%= t('settings.index.value')%></th>
        </tr>
      </thead>
      <tbody>
        <% settings_model.settings.each_pair do |name, _| %>
          <tr class="odd">
            <td><strong><%= f.label t("settings.attributes.#{name}.name", default: name) %></strong></td>
            <td>
              <div class='form'>
                <ol><%= f.input name, settings_model.field_options(name) %></ol>
              </div>
            </td>
          </tr>
        <% end%>
      </tbody>
    </table>
    <%= f.submit %>
  <% end %>
</div>
